* {
    padding: 0;
    margin: 0;
}

.sec1 {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("/photos/wagon.jpg");
    background-size: cover;
    position: absolute;
    display: flex;
    width: 100%;
    height: 218px;
}

.sec1 .navbar {
    position: absolute;
    display: flex;
    left: 0;
    width: 100%;
}

.sec1 .navbar ul li {
    padding: 0 25px;
    margin: 30px 10px;
    position: relative;
    display: inline-block;
    list-style: none;
    justify-content: space-between;
}

.sec1 .navbar ul li a {
    color: orangered;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: Georgia;
}

.sec1 .navbar ul li a:hover {
    color: greenyellow;
}
.sec1 .navbar ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background:greenyellow;
    bottom: -2px;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.sec1 .navbar ul li:hover::after {
    width: 100%;
}
.sub-menu1 {
    display: none;
}

.sec1 .navbar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    margin-left: 15px;
}
.navbar .sub-menu1{
    left: 0;
}

.navbar .sub-menu1 ul li a{
    color: greenyellow;
    font-size: 1.2rem;
}
.navbar .sub-menu1 ul li a:hover{
    color: orangered;
}
.navbar .sub-menu1 ul li{
    margin: 5px;
}
.cards {
    display: flex;
    width: 100vw;
    position: absolute;
    flex-wrap: wrap;
    top: 35%;
    align-items: stretch;
    overflow: hidden;
}
.cardTitle{
    top: 29%;
    width: 50%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.cardTitle h1{
    font-size: 1.8rem;
    font-weight: bolder;
    color: orangered;
    text-transform: uppercase;
}
.card {
    flex: 0 0 250px;
    width: 400px;
    margin: 25px;
    border: 1px solid orangered;
    border-radius: 25px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

.card h2 {
    text-transform: uppercase;
    color: orangered;
    font-size: 0.9;
}

.card img {
    max-width: 100%;
    border-radius: 25px;
}

.card .text {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: start;
}