* {
    padding: 0;
    margin: 0;
}

body {
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.90)), url('../photos/mercedes.jpg');
    background-size: cover;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    width: 40%;
    border: 3px;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 200px;
    color: #fff;
}

.form div {
    margin: 10px;
}

.title {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.input_wrap {
    font-size: 20px;
    font-family: Georgia;
    display: flex;
    flex-direction: column;
}

.input_field .input {
    width: 250px;
    border: 2px solid orangered;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    color: green;
}

.error_msg {
    color: red;
    margin-top: 5px;
    display: none;
}

#message {
    color: green;
    display: none;
    position: relative;
}

.btn_disabled {
    padding: 15px 0;
    margin: 30px 10px;
    border: 1px solid orangered;
    border-radius: 1.5rem;
    width: 250px;
    font-size: 20px;
    font-family: monospace;
    position: relative;
    background: transparent;
    overflow: hidden;
    background: orangered;
    cursor: pointer;
    color: #fff;
}

.btn_disabled:hover {
    background: green;
    border: 1px solid green;
    border-radius: 5px;
}

.reset {
    width: 250px;
    padding: 15px 0;
    margin: 30px 10px;
    border: 2px solid red;
    background: red;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-family: Georgia;
}

.reset:hover {
    border: 2px solid white;
    border-radius: 5px;
    background: white;
    color: black;
}